<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet">
    <link rel="stylesheet"  href="/css/login.css">
</head>

<body>
<!--/*@thymesVar id="loginDto" type="uz.g4.ecommerce.domain.dto.request.UserLoginRequest"*/-->
<form class="form" th:action="@{/auth/login}" method="post" th:object="${loginDto}">
    <div class="form-box">
        <h1 class="form-title">Login to your account</h1>
        <p class="form-text">Username</p>
        <input type="text" name="username" class="form-phone" placeholder="Enter your username" required>
        <p class="form-text">Password</p>
        <input type="password" name="password" class="form-password" placeholder="Enter your password" required>
        <button type="submit" class="form-submit">Login now</button>
    </div>
</form>
</body>

</html>